In [1]:
import pandas as pd 

# input the directory the data set is located on your pc 
sales = pd.read_csv('C:/Users/user/Desktop/DataSet_final/FactInternetSales.csv')
sales.head

<bound method NDFrame.head of        ProductKey  OrderDateKey  DueDateKey  ShipDateKey  CustomerKey  \
0             310      20101229    20110110     20110105        21768
1             346      20101229    20110110     20110105        28389
2             346      20101229    20110110     20110105        25863
3             336      20101229    20110110     20110105        14501
4             346      20101229    20110110     20110105        11003
...           ...           ...         ...          ...          ...
60393         485      20140128    20140209     20140204        15868
60394         225      20140128    20140209     20140204        15868
60395         485      20140128    20140209     20140204        18759
60396         486      20140128    20140209     20140204        18759
60397         225      20140128    20140209     20140204        18759

       PromotionKey  CurrencyKey  SalesTerritoryKey SalesOrderNumber  \
0                 1           19                  6          SO43697
1                 1           39                  7          SO43698
2                 1          100                  1          SO43699
3                 1          100                  4          SO43700
4                 1            6                  9          SO43701
...             ...          ...                ...              ...
60393             1          100                  6          SO75122
60394             1          100                  6          SO75122
60395             1          100                  6          SO75123
60396             1          100                  6          SO75123
60397             1          100                  6          SO75123

       SalesOrderLineNumber  ...  ProductStandardCost  TotalProductCost  \
0                         1  ...            2171.2942         2171.2942
1                         1  ...            1912.1544         1912.1544
2                         1  ...            1912.1544         1912.1544
3                         1  ...             413.1463          413.1463
4                         1  ...            1912.1544         1912.1544
...                     ...  ...                  ...               ...
60393                     1  ...               8.2205            8.2205
60394                     2  ...               6.9223            6.9223
60395                     1  ...               8.2205            8.2205
60396                     2  ...              59.4660           59.4660
60397                     3  ...               6.9223            6.9223

       SalesAmount    TaxAmt  Freight  CarrierTrackingNumber  \
0        3578.2700  286.2616  89.4568                    NaN
1        3399.9900  271.9992  84.9998                    NaN
2        3399.9900  271.9992  84.9998                    NaN
3         699.0982   55.9279  17.4775                    NaN
4        3399.9900  271.9992  84.9998                    NaN
...            ...       ...      ...                    ...
60393      21.9800    1.7584   0.5495                    NaN
60394       8.9900    0.7192   0.2248                    NaN
60395      21.9800    1.7584   0.5495                    NaN
60396     159.0000   12.7200   3.9750                    NaN
60397       8.9900    0.7192   0.2248                    NaN

       CustomerPONumber                OrderDate                  DueDate  \
0                   NaN  2010-12-29 00:00:00.000  2011-01-10 00:00:00.000
1                   NaN  2010-12-29 00:00:00.000  2011-01-10 00:00:00.000
2                   NaN  2010-12-29 00:00:00.000  2011-01-10 00:00:00.000
3                   NaN  2010-12-29 00:00:00.000  2011-01-10 00:00:00.000
4                   NaN  2010-12-29 00:00:00.000  2011-01-10 00:00:00.000
...                 ...                      ...                      ...
60393               NaN  2014-01-28 00:00:00.000  2014-02-09 00:00:00.000
60394               NaN  2014-01-28 00:00:00.000  2014-02-09 00:00:00.000
60395               NaN  2014-01-28 00:00:00.000  2014-02-09 00:00:00.000
60396               NaN  2014-01-28 00:00:00.000  2014-02-09 00:00:00.000
60397               NaN  2014-01-28 00:00:00.000  2014-02-09 00:00:00.000

                      ShipDate
0      2011-01-05 00:00:00.000
1      2011-01-05 00:00:00.000
2      2011-01-05 00:00:00.000
3      2011-01-05 00:00:00.000
4      2011-01-05 00:00:00.000
...                        ...
60393  2014-02-04 00:00:00.000
60394  2014-02-04 00:00:00.000
60395  2014-02-04 00:00:00.000
60396  2014-02-04 00:00:00.000
60397  2014-02-04 00:00:00.000

[60398 rows x 26 columns]>

In [2]:
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [3]:
sales.shape

(60398, 26)

In [4]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60398 entries, 0 to 60397
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductKey             60398 non-null  int64
 1   OrderDateKey           60398 non-null  int64
 2   DueDateKey             60398 non-null  int64
 3   ShipDateKey            60398 non-null  int64
 4   CustomerKey            60398 non-null  int64
 5   PromotionKey           60398 non-null  int64
 6   CurrencyKey            60398 non-null  int64
 7   SalesTerritoryKey      60398 non-null  int64
 8   SalesOrderNumber       60398 non-null  object
 9   SalesOrderLineNumber   60398 non-null  int64
 10  RevisionNumber         60398 non-null  int64
 11  OrderQuantity          60398 non-null  int64
 12  UnitPrice              60398 non-null  float64
 13  ExtendedAmount         60398 non-null  float64
 14  UnitPriceDiscountPct   60398 non-null  int64
 15  DiscountAmount         60398 non-null  int64
 16  ProductStandardCost    60398 non-null  float64
 17  TotalProductCost       60398 non-null  float64
 18  SalesAmount            60398 non-null  float64
 19  TaxAmt                 60398 non-null  float64
 20  Freight                60398 non-null  float64
 21  CarrierTrackingNumber  0 non-null      float64
 22  CustomerPONumber       0 non-null      float64
 23  OrderDate              60398 non-null  object
 24  DueDate                60398 non-null  object
 25  ShipDate               60398 non-null  object
dtypes: float64(9), int64(13), object(4)
memory usage: 12.0+ MB

In [ ]:
sales.describe()

In [ ]:
sales['TotalProductCost'].mean()

In [ ]:
sales['TotalProductCost'].plot(kind='box', vert=False, figsize=(14,6))

In [ ]:
sales['TotalProductCost'].plot(kind='density', figsize=(14,6))

In [ ]:
ax = sales['TotalProductCost'].plot(kind='density', figsize=(14,6))
ax.axvline(sales['TotalProductCost'].mean(), color = 'red')
ax.axvline(sales['TotalProductCost'].median(), color='green')

In [ ]:
af = sales['TotalProductCost'].plot(kind='hist', figsize=(14,6))
af.set_ylabel('Number of sales')
af.set_xlabel('dollars')

In [ ]:
corr = sales.corr()
corr

In [ ]:
fig = plt.figure(figsize=(8,8))
plt.matshow(corr, cmap='RdBu', fignum=fig.number)
plt.xticks(range(len(corr.columns)), corr.columns, rotation='vertical');
plt.yticks(range(len(corr.columns)), corr.columns);

In [ ]:
sales.plot(kind='scatter', x='TotalProductCost', y='SalesAmount', figsize=(6,6))

In [ ]:
sales['Profit'] = sales['SalesAmount'] - sales['TotalProductCost'] - sales['TaxAmt']

sales['Profit'].head

In [ ]:
sales.plot(kind='scatter', x='TotalProductCost', y='Profit', figsize=(6,6))

In [ ]:
sales['Profit'].plot(kind='hist', figsize=(14,6))

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
x = sales[['TotalProductCost', 'TaxAmt']]
y = sales['SalesAmount']
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size =0.2, random_state=10)
clf.fit(x_train,y_train)
clf.predict(x_test)

In [ ]:
import joblib
joblib.dump(clf, 'price-predictor.joblib')
model = joblib.load('price-predictor.joblib')
prediction = model.predict([[1000, 100]])
prediction